.loading {
  height: 100px;
  width: 100px;
  animation: rotating 3s linear infinite;
  position: fixed;
  top: 40%;
  left: 45%;
}

.loadingDiv {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 11111111;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  top: 0;
  bottom: 0;
  right: 0;
}

.loadingPTag {
  position: fixed;
  top: 50%;
  left: 38%;
  color: #ff0000;
}

.loading > svg {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  overflow: visible;
  margin: 10px 20px;
}

.inner > circle {
  fill: none;
  stroke: #ff0000;
  stroke-width: 1;
}

.outer {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #ff0000;
  stroke-width: 2;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: dashing 3s ease-in-out alternate-reverse infinite;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes dashing {
  100% {
    stroke-dashoffset: 0;
  }
}
