body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Lang {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #93f100 !important;
}

.MuiInput-underline::after,
.MuiInput-underline:hover:not(.Mui-disabled)::before {
  border-bottom: 2px solid #93f100 !important;
}

.MuiButton-containedPrimary {
  color: black !important;
  background-color: #93f100 !important;
}

.MuiButton-root.Mui-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.makeStyles-avatar-22,
.makeStyles-avatar-12,
.button1,
.button2,
.button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-fullWidth {
  background-color: #93f100 !important;
}

.MuiButton-textPrimary,
.MuiFormLabel-root.Mui-focused {
  color: #93f100 !important;
}
